@model IEnumerable<RecordBookApp.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
